.image-section {
    background-image: url(../assets/Home.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* título dentro de la imagen */
.title {
    color: black;
    font-size: 40px;
}

/* caja de texto */
.overlay {
    width: 80%;
    height: 100vh;
    max-width: 700px;
    background-color: lightgray;
    border-radius: 40px;
    border: 3px solid black;
    padding: 30px;
    margin: -80px auto 100px auto; /* esto la sube sobre la imagen */
    box-sizing: border-box;
    text-align: center;
}

.image-section {
    background-image: url(../assets/about_us.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* título dentro de la imagen */


/* caja de texto */
.overlay {
    width: 60%;
    height: 100vh;
    max-width: 700px;
    background-color: lightgray;
    border-radius: 40px;
    border: 3px solid black;
    padding: 30px;
    margin: -80px auto 100px auto; /* esto la sube sobre la imagen */
    box-sizing: border-box;
    text-align: center;
}

.overlay p {
    margin: 0 auto;
    color: black;
    font-size: 18px;
    line-height: 1.6;
    max-width: 400px;

}

@media (max-width: 768px) {
    .overlay  p{
        font-size: 11px;
    }

}
