.filter_zone {
    width: 90%;
    min-height: 50px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: lightgray;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_zone_input {
    margin-left: 20px;
    width: 50px;
    height: 20px;
}

.filter_zone2 {
    border-radius: 10px;
    border: 3px solid black;
    min-height: 25px;
    background-color: whitesmoke;
    width: 95%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;   /* ESTA ES LA CLAVE */
}

.filter_zone2 label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.filter_toggle {
    display: none;
}


@media (max-width: 768px) {

    .filter_toggle {
        display: block;
        width: 90%;
        margin: 20px auto;
        padding: 10px;
        border-radius: 8px;
        border: 3px solid black;
        background: lightgray;
        cursor: pointer;
        text-align: center;
    }

    .filter_zone {
        display: none;
    }

    .filter_zone2 {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
    }

    #toggle_filters:checked + .filter_toggle + .filter_zone {
        display: block;
    }
}