body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkgray;
}
/*===========================================*/
.zero_line {
    display: inline-block;
}
/* Boton idioma */
.idioma {
    width: 100px;
    height: 25px;
    cursor: pointer;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-left: 25px;
    margin-top: 10px;
}
/*===========================================*/
.first_line {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr auto 2fr;
    padding: 0 20px;
    gap: 30px;
}
/* Titulo de la página*/
.first_line h1 {
    margin: 0;
    font-size: 65px;
    cursor: pointer;
}

.name_of_company{
    text-decoration: none;
    color: black;
}

/* centro de la linea uno (buscador y filtro)*/
.center_group {
    justify-self: center;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: left;
}

.filter-btn {
    padding: 5px 10px;
    cursor: pointer;
}

/* Boton usuario */
.btn_user {
    justify-self: end;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: none;
    padding: 0;
    cursor: pointer;
    background: white;
    margin-right: 50px;
}

.usuario {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
/*===========================================*/
.second_line ul {
    display: flex;
    list-style: disc;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.second_line ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

@media (max-width: 768px) {

    .first_line {
        grid-template-columns: 1fr;
        gap: 15px;
        text-align: center;
    }

    .first_line h1 {
        font-size: 40px;
    }

    .center_group {
        width: 100%;
    }

    .search-bar {
        width: 90%;
    }

    .btn_user {
        justify-self: center;
        margin-right: 0;
    }

}