/* ===== FORMULARIO CITA COMPLETO ===== */
.formulario_cita {
    width: 400px;
    max-width: 90%;
    background-color: #E8F2FF;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    box-sizing: border-box;
}

#centro, #especialidad_input {
    cursor: not-allowed;
    opacity: 0.7;
}

.formulario_cita h1 {
    text-align: center;
    margin-bottom: 30px;
}

.formulario_cita label {
    display: block;
    margin-bottom: 4px;
}

/* INPUTS Y SELECTS */
.formulario_cita input,
.formulario_cita select {
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}

/* BOTÓN */
.formulario_cita .boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_cita button {
    width: 130px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-top: 10px;
    border: none;
}

.formulario_cita nav {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

/* ===== MÓVIL ===== */
@media (max-width: 830px) {

    .formulario_cita {
        width: 90%;
        padding: 15px;
    }

    .formulario_cita h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .formulario_cita input,
    .formulario_cita select {
        height: 40px;
        font-size: 14px;
    }

    .formulario_cita button {
        width: 100%;
    }
}