.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

#main_header {
    width: 100%;
    display: block;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

#new_appointment {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 90%;
}

.appointments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    align-items: center;

}

.appointments-container {
    width: 90%;
}

@media (max-width: 768px) {

    .text-header h1 {
        margin: 0;
        font-size: 1.3rem;
        text-align: left;
    }

    .text-section hr {
        width: 40px;
        margin-left: 0;
        border: 1px solid #ccc;
    }

    .section-btn {
        padding: 8px 16px;
        font-size: 0.95rem;
        white-space: nowrap;
    }
}

