.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightgray;
}

#main_header {
    width: 100%;
    display: block;
}

.button-container {
    display: flex;
    justify-content: flex-start;
}

#new_appointment {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 90%;
}

.appointments-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightgray;
}

.appointments-container > div {
    width: 100%;
}