:host {
  display: block;
}

/* CONTENEDOR PRINCIPAL */
.filter_zone {
  width: 90%;
  min-height: 60px;
  border-radius: 10px;
  border: 3px solid black;
  background-color: #fff7cc;

  margin: 20px auto 0 auto;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* WRAPPER */
.filter_zone2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

/* BOTÓN */
.filter_btn {
  --background: #333;
  --color: white;
  --border-radius: 8px;
  height: 36px;
}

/* ITEM FILTRO */
.filter_item {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 10px;
  border-radius: 8px;
  background: white;
  border: 1px solid #ddd;
}

/* TEXTO */
.text {
  font-size: 13px;
  color: black;
}

/* ION CHECKBOX */
ion-checkbox {
  --size: 18px;
}

/* SIZES */
.filter_zone.small {
  width: 82%;
}

.filter_zone.large {
  width: 90%;
}

/* MOBILE */
@media (max-width: 830px) {

  .filter_zone {
    width: 90%;
  }

  .filter_zone2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter_item {
    width: 100%;
    justify-content: flex-start;
  }

  .filter_btn {
    width: 100%;
  }
}
