<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <div class="footer-container">
      <div class="logo-section">
        <div class="social-icons">
          <a href="https://www.youtube.com/" target="_blank">
            <ion-img [src]="youtube"></ion-img>
          </a>
          <a href="https://x.com/" target="_blank">
            <ion-img [src]="x"></ion-img>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <ion-img [src]="instagram"></ion-img>
          </a>
        </div>
        <ion-button fill="clear" routerLink="" class="company-name">
          <h1 class="company-name-text">CanaryMed</h1>
        </ion-button>
      </div>

      <!-- SECCIONES (DERECHA) -->
      <div class="sections-wrapper">
        <div class="footer-section">
          <h3>El Hospital</h3>
          <div class="links">
            <a routerLink="/work-with-us">Colabora con nosotros</a>
            <a routerLink="/about-us">Sobre nosotros</a>
          </div>
        </div>

        <div class="footer-section">
          <h3>Nuestros Servicios</h3>
          <div class="links">
            <a routerLink="/centers">Centros colaboradores</a>
            <a routerLink="/specialtys">Especialidades</a>
          </div>
        </div>

        <div class="footer-section">
          <h3>Enlaces de interés</h3>
          <div class="links">
            <a href="https://guanchipedia.com/historia-de-la-medicina-en-canarias/" target="_blank">
              Historia de la medicina canaria
            </a>
            <a routerLink="/clients-asist">Asistencia de usuario</a>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
