<ion-toolbar>
  <ion-grid>
    <ion-row class="first_line_fo">
      <ion-col size="12" size-md="4" class="logo_section">
        <div class="social_icons">
          <ion-button fill="clear" href="https://www.youtube.com/" target="_blank">
            <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://x.com/" target="_blank">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://www.instagram.com/" target="_blank">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
        </div>
        <a class="name_of_company" routerLink="/" id="footerLogo">
          <ion-title>CanaryMed</ion-title>
        </a>
      </ion-col>

      <ion-col size="6" size-md="4">
        <div class="seccion1">
          <h3>El Hospital</h3>
          <ion-list>
            <ion-item button routerLink="/work-with-us" lines="none">Colabora con nosotros</ion-item>
            <ion-item button routerLink="/about-us" lines="none">Sobre nosotros</ion-item>
          </ion-list>
        </div>
      </ion-col>

      <ion-col size="6" size-md="4">
        <div class="seccion2">
          <h3>Nuestros Servicios</h3>
          <ion-list>
            <ion-item button routerLink="/centers" lines="none">Centros colaboradores</ion-item>
            <ion-item button routerLink="/specialtys" lines="none">Especialidades</ion-item>
          </ion-list>
        </div>
      </ion-col>

      <ion-col size="12">
        <div class="seccion2">
          <h3>Enlaces de interés</h3>
          <ion-list>
            <ion-item button href="https://guanchipedia.com/historia-de-la-medicina-en-canarias/" target="_blank" lines="none">
              Historia de la medicina canaria
            </ion-item>
            <ion-item button routerLink="/client-asist" lines="none">Asistencia de usuario</ion-item>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
