.footer-toolbar {
  --background: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
}

/* IZQUIERDA */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* ICONOS */
.social-icons {
  display: flex;
  gap: 10px;
}

/* DERECHA */
.sections-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  flex: 1;
}

/* cada bloque */
.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section h3 {
  margin-bottom: 8px;
}

/* links */
.links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links a {
  text-decoration: none;
}
