<footer>
  <div class="first_line_fo">

    <!-- Logo + iconos juntos -->
    <div class="logo_section">
      <div class="social_icons">

        <a href="https://www.youtube.com/" target="_blank">
          <img [src]="youtube" class="redes_sociales">
        </a>

        <a href="https://x.com/" target="_blank">
          <img [src]="x" class="redes_sociales">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
          <img [src]="instagram" class="redes_sociales">
        </a>

      </div>
      <a class="name_of_company" routerLink="/" id="footerLogo">
        <h1>CanaryMed</h1>
      </a>
    </div>
    <div class="nav-sections">
      <!-- Sección 1 -->
      <div class="seccion1">
        <h3>El Hospital</h3>
        <nav>
          <ul>
            <li><a routerLink="/work-with-us">Colabora con nosotros</a></li>
            <li><a routerLink="/about-us">Sobre nosotros</a></li>
          </ul>
        </nav>
      </div>

      <!-- Sección 2 -->
      <div class="seccion2">
        <h3>Nuestros Servicios</h3>
        <nav>
          <ul>
            <li><a routerLink="/centers">Centros colaboradores</a></li>
            <li><a routerLink="/specialtys">Especialidades</a></li>
          </ul>
        </nav>
      </div>

      <!-- Sección 3 -->
      <div class="seccion2">
        <h3>Enlaces de interés</h3>
        <nav>
          <ul>
            <li><a href="https://guanchipedia.com/historia-de-la-medicina-en-canarias/">Historia de la medicina canaria</a></li>
            <li><a routerLink="/client-asist">Asistencia de usuario</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</footer>
