<app-header/>

@if (centro$ | async; as centro) {
  <main class="text-section2">
    <div class="text-header">
      <h1>{{centro.name}}</h1>
      <button class="section-btn" routerLink="/centers">Volver Atrás</button>
    </div>
    <hr>
    <div class="center-image">
      <img [src]="'assets/' + centro.image">
    </div>
    <p>{{centro.description}}</p>
  </main>

  <main class="text-section2">
    @for (especialidad of centro.specialities; track especialidad.name) {
      <app-specialty-center [data]="especialidad"/>
    }
  </main>
} @else {
  <app-loading-spinner/>
}

<app-footer></app-footer>
