<header>

  <!-- primera línea -->
  <div class="first_line">

    <!-- hamburguesa -->
    <button class="menu-toggle" (click)="toggleMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <!-- logo -->
    <a class="name_of_company" routerLink="/" id="logo">
      <h1>CanaryMed</h1>
    </a>

    <!-- centro -->
    <div class="center_group">

      <!-- buscador ionic -->
      <ion-searchbar
        class="search-bar"
        placeholder="Busca Centro/Especialidad"
        [(ngModel)]="searchText"
        (ionInput)="onSearch()">
      </ion-searchbar>

      <!-- resultados -->
      @if (resultados.length > 0) {

        <ion-list class="results">

          @for (item of resultados; track item.id) {

            <ion-item
              button
              (click)="selectItem(item)">

              {{ item.name }}

            </ion-item>

          }

        </ion-list>

      }

      <!-- botón buscar -->
      <ion-button
        class="filter-btn"
        (click)="buscar()">

        Buscar

      </ion-button>

    </div>

    <!-- usuario -->
    <button
      class="btn_user"
      (click)="goToProfile()">

      @if (!isLoggedIn) {

        <img
          class="usuario"
          src="assets/Usuario.webp"/>

      } @else {

        <img
          class="usuario"
          src="assets/icono_check.png"/>

      }

    </button>

  </div>

  <!-- menú -->
  <div class="second_line">

    <ul [class.show]="menuAbierto">

      <li>
        <a routerLink="/centers">Centros</a>
      </li>

      <li>
        <a routerLink="/specialtys">Especialidades</a>
      </li>

      <li>
        <a routerLink="/work-with-us">
          Trabaja con nosotros
        </a>
      </li>

      <li>
        <a routerLink="/about-us">
          Sobre nosotros
        </a>
      </li>

    </ul>

  </div>

</header>
