<ion-header>

  <ion-toolbar>

    <!-- hamburguesa -->
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()">
      </ion-menu-button>
    </ion-buttons>

    <!-- logo -->
    <ion-title class="logo">
      <a routerLink="/" id="name_of_company">
        CanaryMed
      </a>
    </ion-title>

    <!-- centro -->
    <div class="center_group">

      <!-- buscador ionic -->
      <ion-searchbar
        id="searchInput"
        class="search-bar"
        placeholder="Busca Centro/Especialidad"
        [(ngModel)]="searchText"
        (ionInput)="onSearch()">
      </ion-searchbar>

      <!-- resultados -->
      @if (resultados.length > 0) {

        <ion-list class="results">

          @for (item of resultados; track item.id) {

            <ion-item [button]="true"
              (click)="selectItem(item)">

              {{ item.name }}

            </ion-item>

          }

        </ion-list>

      }

      <!-- botón buscar -->
      <ion-button
        id="filterButton"
        class="filter-btn"
        (click)="buscar()">

        Buscar

      </ion-button>

    </div>

    <!-- usuario -->
    <ion-buttons slot="end">
      <ion-button
        class="btn_user"
        id="btn_user"
        (click)="goToProfile()">

        @if (!isLoggedIn) {

          <img
            class="usuario"
            src="assets/Usuario.webp"/>

        } @else {

          <img
            class="usuario"
            src="assets/icono_check.png"/>

        }

      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <!-- menú -->
  <!-- menú -->
  <ion-toolbar>
    <div class="second_line">
      <ul [class.show]="menuAbierto">
        <li><a routerLink="/centers">Centros</a></li>
        <li><a routerLink="/specialtys">Especialidades</a></li>
        <li><a routerLink="/work-with-us">Trabaja con nosotros</a></li>
        <li><a routerLink="/about-us">Sobre nosotros</a></li>
      </ul>
    </div>
  </ion-toolbar>

  <div class="menu-overlay"></div>

</ion-header>
