<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="menu-toggle" (click)="toggleMenu()">
      <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="name_of_company" routerLink="/">CanaryMed</ion-title>

  <ion-searchbar
    placeholder="Busca Centro/Especialidad"
    [(ngModel)]="searchText"
    (ionInput)="onSearch()">
  </ion-searchbar>

  @if (resultados.length > 0) {
    <ion-list class="results">
      @for (item of resultados; track item.id) {
        <ion-item button (click)="selectItem(item)">
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
      }
    </ion-list>
  }

  <ion-buttons slot="end">
    <ion-button (click)="buscar()">Buscar</ion-button>
    <ion-button (click)="goToProfile()" class="btn_user">
      @if (!isLoggedIn) {
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      } @else {
        <ion-icon name="checkmark-circle" slot="icon-only"></ion-icon>
      }
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar class="nav-toolbar" [class.show]="menuAbierto">
  <ion-buttons>
    <ion-button routerLink="/centers" (click)="menuAbierto = false">Centros</ion-button>
    <ion-button routerLink="/specialtys" (click)="menuAbierto = false">Especialidades</ion-button>
    <ion-button routerLink="/work-with-us" (click)="menuAbierto = false">Trabaja con nosotros</ion-button>
    <ion-button routerLink="/about-us" (click)="menuAbierto = false">Sobre nosotros</ion-button>
  </ion-buttons>
</ion-toolbar>
