.appointment_block {
  width: 1065px;
  margin: 5px auto;
  background-color: rgba(255,254,134,0.84);
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

button {
  border-radius: 5px;
  width: 60px;
  height: 40px;
  background-color: indianred;
  margin-left: 660px;
}

button:hover {
  background-color: darkred;
  color: white;
}

p {
  margin-top: 13px;
}

@media (max-width: 830px) {
  .page-container {
    align-items: stretch;
  }

  .appointments-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: stretch;
  }

  .appointment_block {
    width: 100%;
    box-sizing: border-box;
  }

  .text-section3 {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
