<ion-content>
  <ion-item lines="none">
    <ion-label>Filtros</ion-label>
  </ion-item>

  <div class="filter_zone" [class.small]="size === 'small'" [class.large]="size === 'large'">
    <div class="filter_zone2">
      @for (option of filtro.options; track option) {
        <ion-item lines="none">
          <ion-checkbox (click)="onChange(option, $event)">{{option}}</ion-checkbox>
        </ion-item>
      }
      <ion-button expand="block" (click)="applyFilters()">Filtrar</ion-button>
    </div>
  </div>
</ion-content>
