.specialty-section {
  width: 90%;
  margin: 20px auto;
  background: #E8F2FF;
  border: 3px solid black;
  border-radius: 20px;
}

.specialty-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.specialty-image img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 3px solid black;
  object-fit: cover;
}

.specialty-text {
  flex: 1;
}

.specialty-button {
  --background: #333;
  margin-top: 80px;
}

@media (max-width: 830px) {
  .specialty-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .specialty-image img {
    width: 200px;
  }

  .specialty-button {
    margin-top: 10px;
  }
}
