.page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  align-items: center;
}

#main_header {
  width: 100%;
  display: block;
}

#new_appointment {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.text-section3 {
  width: 79%;
}

.text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-header h1 {
  margin: 0;
}

.section-btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  align-items: center;

}

.appointments-container {
  width: 90%;
}

@media (max-width: 830px) {
  html, body {
    margin: 0;
    padding: 0;
  }

  .text-section3 {
    width: 74%;
  }

  .text-header h1 {
    margin: 0;
    font-size: 1.3rem;
    text-align: left;
  }

  .text-section3 hr {
    width: 130px;
    margin-left: 0;
    border: 1px solid #ccc;
  }

  .section-btn {
    padding: 8px 16px;
    font-size: 0.95rem;
    white-space: nowrap;
  }
}

