<ion-card>
  <ion-card-header class="section-header">
    <ion-card-title>{{titulo}}</ion-card-title>
  </ion-card-header>
  <div class="divider"></div>
  <ion-card-content class="card-body">
    <ion-list>
      @for(item of items.slice(0, 3); track item) {
        <ion-item class="card-item">
          <ion-label>{{item}}</ion-label>
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
  <div class="divider"></div>
  <div class="card-footer">
    <p><a (click)="verMas()" class="section-link" target="_blank">Ver más</a></p>
  </div>
</ion-card>
