a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.section {
  width: 100%;
  background-color: #E8F2FF;
  border-radius: 40px;
  padding: 15px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.section-link {
  margin-left: 5px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  justify-content: flex-start;
  text-align: start;
  --padding-start: 8px;
  --padding-end: 0;
  --padding-top: 4px;
  --padding-bottom: 0;
}

ion-card-title {
  text-align: left;
  width: 100%;
}

.divider {
  height: 3px;
  background-color: lightgray;
  border-radius: 10px;
  margin: 2px 0;
}

.card-item {
  background: white;
  --padding-start: 6px;
  --padding-end: 6px;
  --padding-top: 2px;
  --padding-bottom: 2px;
  --border-radius: 12px;
  --inner-border-radius: 12px;
  margin-bottom: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  --border-color: transparent;
  --inner-border-width: 0;
}

ion-list {
  list-style: none;
  padding: 0;
  margin: 2px 0;
  --ion-item-background: transparent;
}

.card-item:hover {
  transform: translateY(-2px);
  transition: 0.2s;
}

.card-footer {
  padding: 8px;
}

@media (max-width: 830px) {
  .card-footer {
    justify-content: center;
    gap: 15px;
  }
}
