<app-header></app-header>
<app-filter
  [filtro]="{ options: ['Respiratorio', 'Quirúrgico', 'No Quirúrgico', 'Diagnóstico', 'Medicina General', 'Oncología Médica'] }" size="small"
  (apply)="applyFilter($event)">
</app-filter>

@if (filteredEspecialidades$ | async; as especialidades) {
  <div class="container">
    @for (especialidad of especialidades; track $index) {
      <app-specialty [specialty1]="especialidad"></app-specialty>
    }
  </div>
} @else {
  <app-loading-spinner/>
}

<app-footer></app-footer>
