<main class="text-section">
  <div class="text-header">
    <h1>Colabora con nosotros</h1>
    <button class="section-btn" (click)="goBack()">Volver atrás</button>
  </div>
  <hr>
  <p>
    Así como facilitamos a nuestros usuarios buscar los centros que
    mejor les conviene (ya sea por el precio, lugar o especialidades que busca)
    también facilitamos a las diferentes instituciones sanitarias a aportar su
    granito de arena trabajando con nosotros, para que la medicina en la isla
    esté a disposición de todos.
  </p>
</main>
