.appointment_block {
  width: 600px;
  margin: 40px auto;
  margin-bottom: 60px;
  background-color: #E8F2FF;
  border: 3px solid black;
  border-radius: 40px;
  padding: 30px 40px;
  box-sizing: border-box;
}

.texto_cita {
  text-align: center;
}

#formCita {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#formCita label {
  font-weight: bold;
  margin-top: 5px;
}

#formCita input,
#formCita select {
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  padding: 6px;
}

#formCita ion-item {
  width: 100%;
  --border-radius: 10px;
  --background: white;
  --border-color: #ccc;
  --border-width: 1px;
  --border-style: solid;
  --padding-start: 12px;
  --padding-end: 12px;
  --inner-padding-end: 0;
}

ion-input, ion-select {
  width: 100%;
}

.boton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#boton_confirmar {
  width: 100%;
  --border-radius: 20px;
}
@media (max-width: 830px) {
  .page-container {
    align-items: stretch;
  }

  .appointments-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: stretch;
  }

  .appointment_block {
    width: 95%;
    padding: 20px;
    border-radius: 20px;
  }

  .text-section3 {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
