.appointment_block {
  width: 400px;
  margin: 40px auto;
  background-color: #E8F2FF;
  border: 3px solid black;
  border-radius: 40px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.texto_cita {
  text-align: center;
}

#formCita {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#formCita label {
  font-weight: bold;
  margin-top: 5px;
}

#formCita input,
#formCita select {
  border-radius: 10px; /* añade esto */
  width: 100%;
  max-width: 300px;
  padding: 6px;
}

.boton {
  display: flex;
  justify-content: center;
}

#boton_confirmar {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
}
@media (max-width: 830px) {
  .page-container {
    align-items: stretch;
  }

  .appointments-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: stretch;
  }

  .appointment_block {
    width: 100%;
    box-sizing: border-box;
  }

  .text-section3 {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}
