.formulario input,
.formulario select {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.page-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.text-section {
  padding: 30px 80px;
}

.text-section2 {
  padding: 30px 80px;
}

.text-section4 {
  padding: 30px 80px;
}

.text-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

.title-wrapper h1 {
  color: red;
  font-size: 48px;
  margin: 0;
  display: inline-block;
}

.title-line {
  display: block;
  border: none;
  height: 2px;
  background-color: #aaa;
  width: 100%;
  margin: 0;
}

.section-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  background-color: #aaa;
  width: 70%;
}

.center-image img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: 15px;
  border: 3px solid black;
  display: block;
  margin-bottom: 20px;
}

.center-description p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.text-section p {
  font-size: 18px;
  line-height: 1.6;
}
.text-section2 p {
  font-size: 18px;
  line-height: 1.6;
}

.text-section4 p {
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 830px) {

  .text-section {
    padding: 20px;
  }
  .text-section2 {
    padding: 20px;
  }
  .text-section4 {
    padding: 20px;
  }

  .text-header {
    justify-content: space-between;
  }

  .center-image img {
    width: 100%;
  }

  .title-wrapper {
    flex: 1;
  }

  .section-btn {
    margin-left: auto;
  }

}
