<app-header/>
<main class="text-section2">

  <div class="text-header" *ngIf="centro$ | async as centro">
    <h1>{{centro.name}}</h1>
    <button class="section-btn" routerLink="/centers">Volver Atrás</button>
  </div>
  <hr>
  <div class="center-image" *ngIf="centro$ | async as centro">
    <img [src]="'assets/' + centro.image">
  </div>
  <p *ngIf="centro$ | async as centro"> {{centro.description}}</p>
</main>

<main class="text-section2">
  @if (centro$ | async; as centro) {
    @for (especialidad of centro.specialities; track especialidad.name) {
      <app-specialty-center [data]="especialidad"/>
    }
  }
</main>

<app-footer></app-footer>
