<main>
    <div class="center-section">

        <div class="center-content">

            <div class="favorite">
                <input type="checkbox" id="fav1">
                <label for="fav1"></label>
            </div>

            <div class="center-image">
                <img class="center">
            </div>

            <div class="center-text">
                <h1></h1>
                <h3></h3>
                <p>
                </p>
            </div>
            <button type="button" class="center-button"></button>
        </div>

    </div>
</main>