<main>
    <div class="center-section">

        <div class="center-content">

            <div class="center-image">
                <img src="../assets/jpg" class="center">
            </div>

            <div class="center-text">
                <h1></h1>
                <h3></h3>
                <p>
                </p>
            </div>
            <a href="../Paginas/center_page.html">
                <button type="button" class="center-button">Lorem ipsum</button>
            </a>

        </div>

    </div>
</main>