
<main>
    <div class="filter_zone">
        <div class="filter_zone2">
            <input type="submit" value="Lorem" class="filter_zone_input">

            <label for="ch1">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch1" class="filter_zone_ch">

            <label for="ch2">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch2" class="filter_zone_ch">

            <label for="ch3">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch3" class="filter_zone_ch">

            <label for="ch4">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch4" class="filter_zone_ch">

            <label for="ch5">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch5" class="filter_zone_ch">

            <label for="ch6">Lorem ipsum</label>
            <input type="checkbox" value="Lorem" id="ch6" class="filter_zone_ch">
        </div>
    </div>
</main>