<main>
    <input type="checkbox" id="toggle_filters" hidden>
    <label for="toggle_filters" class="filter_toggle">Filtros</label>

    <div class="filter_zone">
        <div class="filter_zone2">
            <input type="submit" value="Lorem" class="filter_zone_input">
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
            <label><input type="checkbox" value="Lorem" class="filter_zone_ch"></label>
        </div>
    </div>
</main>