<header>
    <!-- header -->
    <div class="zero_line">
        <select name="desplegable" class="idioma">
            <option value="" selected disabled>Lorem</option>
            <option value="es">Español</option>
            <option value="en">Inglés</option>
            <option value="fr">Francés</option>
        </select>
    </div>

    <div class="first_line">
        <h1>Lorem ipsum</h1>
        <div class="center_group">
            <input type="text" placeholder="🔎 Lorem ipsum" style="text-align: left;" class="search-bar">
            <button class="filter-btn">Lorem</button>
        </div>
        <button class="btn_user">
            <img src="image.pnj" alt="X" class="usuario">
        </button>
    </div>


    <div class="second_line">
        <nav>
            <ul>
                <li><a href="lorem">Lorem ipsum</a></li>
                <li><a href="Lorem">Lorem ipsum</a></li>
                <li><a href="Lorem">Lorem ipsum</a></li>
                <li><a href="Lorem">Lorem ipsum</a></li>
            </ul>
        </nav>
    </div>
</header>
