<header>
    <div class="zero_line">
        <select name="desplegable" class="idioma" id="languages">
            <option value="" selected disabled></option>
        </select>
    </div>

    <div class="first_line">

        <button class="menu-toggle">☰</button>

        <a class="name_of_company" href="../Paginas/home_page.html" id="logo">
            <h1></h1>
        </a>

        <div class="center_group">
            <input id="searchInput" type="text" placeholder="" class="search-bar">
            <button id="filterButton" class="filter-btn"></button>
        </div>

        <button class="btn_user">
            <a href="../Paginas/login.html">
                <img id="userIcon" src="image.png" alt="X" class="usuario">
            </a>
        </button>

    </div>

    <div class="second_line">
        <nav>
            <ul id="navMenu">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </div>

</header>

