<header>
    <!-- header -->
    <div class="zero_line">
        <select name="desplegable" class="idioma" id="languages">
            <option value="" selected disabled>Idioma</option>
        </select>
    </div>

    <div class="first_line">
        <a class="name_of_company" href="../Paginas/home_page.html" id="logo">
            <h1>Lorem ipsum</h1>
        </a>
        <div class="center_group">
            <input id="searchInput" type="text" placeholder="Lorem ipsum" style="text-align: left;" class="search-bar">
            <button id="filterButton" class="filter-btn">Lorem</button>
        </div>
        <button class="btn_user">
            <a href="../Paginas/register_edit.html">
                <img id="userIcon" src="image.png" alt="X" class="usuario">
            </a>
        </button>
    </div>


    <div class="second_line">
        <nav>
            <ul id="navMenu"></ul>
        </nav>
    </div>
</header>
