
<main class="image_section">
    <div class="image_text">
        <h1></h1>
        <button class="image-btn" onclick="window.location.href='../Paginas/centers.html'">Lorem Ipsum</button>
    </div>
</main>

<main class="main_center">
    <h2 class="title"></h2>

    <div class="centers">

        <div class="center">
            <img class="hospital">
            <h3></h3>
            <p></p>
        </div>

        <div class="center">
            <img class="hospital">
            <h3></h3>
            <p></p>
        </div>
    </div>
</main>

<main class="main_center">
    <div class="centers">

        <div class="center">
            <img class="hospital">
            <h3></h3>
            <p></p>
        </div>

        <div class="center">
            <img class="hospital">
            <h3></h3>
            <p></p>
        </div>
    </div>
</main>
