 <main>
          <div class="login">
              <h1>Lorem ipsum</h1>
              <form>
                  <label for="lorem">Lorem ipsum</label>
                  <input id="lorem" type="email" placeholder="Lorem ipsum" name="lorem ipsum">

                  <label for="lorem2">Lorem ipsum</label>
                  <input id="lorem2" type="password" placeholder="Lorem ipsum" name="lorem ipsum2">

                  <div class="botones">
                      <button type="button">lorem</button>
                      <button type="button">lorem</button>
                  </div>
                  <nav>
                      <a href="#">Lorem ipsum</a>
                  </nav>
              </form>
          </div>
    </main>
