 <main>
        <div class="text"><h1>Lorem ipsum</h1></div>
        <div class="contenedor">
            <div class="text_box">
                <form>
                    <label for="lor1">Lorem ipsum</label>
                    <input type="text" name="lor1" id="lor1" placeholder="lorem ipsum">

                    <label for="lor2">Lorem ipsum</label>
                    <input type="text" name="lor2" id="lor2" placeholder="lorem ipsum">

                    <label for="lor3">Lorem ipsum</label>
                    <input type="text" name="lor3" id="lor3" placeholder="lorem ipsum">

                    <label for="lor4">Lorem ipsum</label>
                    <input type="text" name="lor4" id="lor4" placeholder="lorem ipsum">

                    <label for="lor5">Lorem ipsum</label>
                    <input type="text" name="lor5" id="lor5" placeholder="lorem ipsum">

                    <label for="lor6">Lorem ipsum</label>
                    <input type="text" name="lor6" id="lor6" placeholder="lorem ipsum">

                    <label for="lor7">Lorem ipsum</label>
                    <input type="text" name="lor7" id="lor7" placeholder="lorem ipsum">

                    <label for="lor8">Lorem ipsum</label>
                    <input type="text" name="lor8" id="lor8" placeholder="lorem ipsum">
                </form>
            </div>
            <div class="chbox">
                <input type="checkbox" class="check">
                <label>Lorem ipsum dolor</label>
            </div>
            <div class="boton"> <input type="submit" value="Lorem ipsum" class="button">  </div>
        </div>
    </main>