<main>
    <div class="specialty_center-section">
        <div class="specialty_center-content">
            <div class="specialty_center-image">
                <img src="" class="specialty_center">
            </div>

            <div class="specialty_center-text">
                <h1></h1>
                <p data-type="price"></p>
                <p data-type="location"></p>
                <p data-type="doctor"></p>
            </div>

            <a href="../Paginas/make_an_appointment.html">
                <button type="button" id="spc_btn" class="specialty_center-button"></button>
            </a>
        </div>
    </div>
</main>