<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanaryMed</title>
    <link rel="stylesheet" href="../css/specialty.css">
</head>

<body>
<main>
    <div class="specialty-section">

        <div class="specialty-content">

            <div class="specialty-image">
                <img src="../assets/jpg" class="center">
            </div>

            <div class="specialty-text">
                <h1>Lorem ipsum</h1>
                <h3>Lorem ipsum</h3>
                <button type="button" class="specialty-button">Lorem ipsum</button>
            </div>

        </div>
    </div>
    <div class="specialty-section">

        <div class="specialty-content">

            <div class="specialty-image">
                <img src="../assets/jpg" class="center">
            </div>

            <div class="specialty-text">
                <h1>Lorem ipsum</h1>
                <h3>Lorem ipsum</h3>
                <button type="button" class="specialty-button">Lorem ipsum</button>
            </div>

        </div>
    </div>
</main>
</body>
</html>