<main>
    <div class="specialty_center-section">
        <div class="specialty_center-content">
            <div class="specialty_center-image">
                <img src="../assets/jpg" class="specialty_center">
            </div>

            <div class="specialty_center-text">
                <h1>Lorem ipsum</h1>
                <p data-type="price">Lorem ipsum</p>
                <p data-type="location">Lorem ipsum</p>
                <p data-type="doctor">Lorem ipsum</p>
            </div>

            <a href="../Paginas/make_an_appointment.html">
                <button type="button" id="spc_btn" class="specialty_center-button">Lorem ipsum</button>
            </a>
        </div>
    </div>
</main>