<main>
    <div class="formulario">
        <h1>Lorem ipsum</h1>
        <form>
            <label for="lorem">Lorem ipsum</label>
            <input id="lorem" type="text" placeholder="Lorem ipsum" name="lorem ipsum">

            <label for="lorem2">Lorem ipsum</label>
            <input id="lorem2" type="text" placeholder="Lorem ipsum" name="lorem ipsum2">

            <label for="lorem3">Lorem ipsum</label>
            <input id="lorem3" type="text" placeholder="Lorem ipsum" name="lorem ipsum2">

            <label for="lorem4">Lorem ipsum</label>
            <input id="lorem4" type="text" placeholder="Lorem ipsum" name="lorem ipsum2">

            <label for="lorem5">Lorem ipsum</label>
            <select id="lorem5" name="desplegable">
                <option value="opcion1">Lorem ipsum</option>
                <option value="opcion2">Lorem ipsum</option>
                <option value="opcion3">Lorem ipsum</option>
            </select>

            <label for="lorem6">Lorem ipsum</label>
            <input id="lorem6" type="text" placeholder="Lorem ipsum" name="lorem ipsum2">

            <div class="boton"><button type="button">lorem</button></div>
        </form>
    </div>
</main>