.image-section {
  background-image: url(../../../../public/assets/Home.png);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* título dentro de la imagen */
.title {
  color: black;
  font-size: 40px;
}

/* caja de texto */
.overlay {
  width: 80%;
  max-width: 700px;
  background-color: #E8F2FF;
  border-radius: 40px;
  border: 3px solid black;
  margin: -80px auto 100px auto; /* esto la sube sobre la imagen */
  box-sizing: border-box;
  padding: 30px;
}

.overlay p {
  margin: 0 auto;
  color: black;
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  text-align: justify;

}

.image-section {
  background-image: url(../../../../public/assets/about_us.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 830px) {
  .overlay  p{
    font-size: 11px;
  }

}
