<app-header/>

@if (datos$ | async; as datos) {
  <main class="text-section4">
    <div class="text-header">
      <h1>{{ datos.name }}</h1>
      <button class="section-btn" routerLink="/specialtys">Volver atrás</button>
    </div>
    <hr>
    <p>{{ datos.description }}</p>
  </main>

  <main id="centers_container">
    @if (origen === 'centro') {
      @for (item of datos.specialities; track item.name) {
        <app-specialty-center [data]="item"/>
      }
    } @else {
      @for (item of datos.centers; track item.name) {
        <app-specialty-center [data]="item"/>
      }
    }
  </main>
} @else {
  <app-loading-spinner/>
}

<app-footer/>
