<body>

<app-header/>

<main class="text-section4">
  <div class="text-header" *ngIf="especialidad$ | async as especialidad">
    <h1> {{especialidad.name}}</h1>
    <button class="section-btn" routerLink="/specialtys">volver atrás</button>
  </div>
  <hr>
  <p *ngIf="especialidad$ | async as especialidad">
    {{especialidad.description}}
  </p>
</main>

<main id="centers_container">
  @if (especialidad$ | async; as especialidad) {
    @for (centro of especialidad.centers; track centro.name) {
      <app-specialty-center [data]="centro"/>
    }
  }
</main>

<app-footer/>

</body>
<!----------
<div id="loader">
  <div class="spinner"></div>
</div>
----------->
