<main>
  <div class="specialty-section">
    <div class="specialty-content">
      <div class="specialty-image">
        <img class="specialty">
      </div>
      <div class="specialty-text">
        <h1></h1>
        <h3></h3>
        <button type="button" class="specialty-button"></button>
      </div>
    </div>
  </div>

  <div class="specialty-section">
    <div class="specialty-content">
      <div class="specialty-image">
        <img class="specialty">
      </div>
      <div class="specialty-text">
        <h1></h1>
        <h3></h3>
        <button type="button" class="specialty-button"></button>
      </div>
    </div>
  </div>
</main>
