.specialty_center-section {
  width: 90%;
  margin: 20px auto;
  background: #E8F2FF;
  border: 3px solid black;
  border-radius: 20px;
}

.specialty_center-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.specialty_center-image img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 3px solid black;
  object-fit: cover;
}

.specialty_center-text {
  flex: 1;
}

.specialty_center-button {
  --background: #333;
}

@media (max-width: 830px) {
  .specialty_center-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .specialty_center-image img {
    width: 200px;
  }
}
