<main>
  <div class="specialty_center-section">

    <div class="specialty_center-content">

      <!-- imagen -->
      <div class="specialty_center-image">
        <img
          [src]="data.src ? 'assets/' + data.src : 'assets/' + data.image"
          class="specialty_center">
      </div>

      <!-- texto -->
      <div class="specialty_center-text">

        <h1>{{ data?.name }}</h1>

        <p data-type="price">
          💰 {{ data?.price }}
        </p>

        <p data-type="location">
          📍 {{ data?.location }}
        </p>

        <p data-type="doctor">
          👨‍⚕️ {{ doctorName }}
        </p>

      </div>

      <a>
        <button type="button" id="spc_btn" class="specialty_center-button" (click)="reservar()" routerLink="/make-an-appointment">
          Reservar
        </button>
      </a>

    </div>

  </div>
</main>
