<main>
  <div class="specialty_center-section">

    <div class="specialty_center-content">

      <!-- imagen -->
      <div class="specialty_center-image">
        <img [src]="specialidad?.src" class="specialty_center">
      </div>

      <!-- texto -->
      <div class="specialty_center-text">

        <h1>{{ specialidad?.name }}</h1>

        <p data-type="price">
          💰 {{ specialidad?.price }}
        </p>

        <p data-type="location">
          📍 {{ specialidad?.location }}
        </p>

        <p data-type="doctor">
          👨‍⚕️ {{ specialidad?.doctor?.[0]?.name }}
        </p>

      </div>

      <!-- botón -->
      <a href="#">
        <button type="button" id="spc_btn" class="specialty_center-button">
          Reservar
        </button>
      </a>

    </div>

  </div>
</main>
